.spinner{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.progresse-bar{
    width: 350px;
    height: 10px;
    background: rgb(228, 228, 228);
    border-radius: 30px;
}
.progresse{
    background: limegreen;
    height: 100%;
    border-radius: 30px;
    width: 100%;
    animation: animPro 1s linear;
}
@keyframes animPro {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

.loading{
    width: 100px;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}