.layout{
    height: 100vh;
    width: 100%;
    display: flex;
}
.layout-left{
    width: 300px;
    height: 100%;
    color: #e1e9fc;
    border-radius: 5px;
/*     background: #15171C; */
    background: #111827;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}
.layout-img-title{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10% 30%;
    border: 5px solid #e1e9fc;
}
.layout-title{
    text-align: center;
    margin: 15px 0;
    font-weight: 800;
}
.layout-bottom{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    /* padding:40px 20px;  */
    margin: 40px 0px;
}
.layout-items{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px 20px;
}
.layout-icon{
    font-size: 1.1rem;
    cursor: pointer;
    color: #e1e9fc;
}
.layout-icons{
    color: #000;
    font-size: 1.2rem;
}
.layout-link{
    font-size: 1.1rem;
    text-decoration: none;
    color: #e1e9fc;
}
.active{
    background: #fff;
    color: black;
}
.layout-right{
    background: #f2f2f2;
    height: 100%;
    width: 100%;
}
.layout-top{
    height: 60px;
    background: #fff;
 /*    box-shadow: 0 0 2px gray; */
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}
.layout-top{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.layout-top-right{
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.layout-rows{
    display: flex;
    align-items: center;
    gap: 10px;
}
.layout-img{
    height: 25px;
    width: 25px;
    object-fit: cover;
    border-radius: 50%;

}
.layout-admin{
    font-size: 1rem;
    text-decoration: none;
}
.layout-right-bottom{
    margin: 40px;
}